<div [@routerTransition]>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h1>{{ "About" | localize }}</h1>
        </div>
      </div>
    </div>
  </section>
  <section class="content px-2">
    <div class="container-fluid">
      <div class="card">
        <div class="card-body">
          <h3>Boas vindas</h3>
          <p>
            Olá <b>{{ shownLoginName }}</b>, seja bem vindo ao Fast Course!
          </p>
          <h3>O que é o Fast Course?</h3>
          <p>
            O Fast Course é uma plataforma online de cursos voltado para o desenvolvimento
            e atualização de sua profissão. Com ela, serão disponibilizado diversos cursos em vídeo para que
            você possa acompanha-los de onde estiver, basta possuir uma conexão com a internet.
          </p>
          <p>
            Além disso, você pode responder a questionários, e no final obter um certificado de aprovação!
          </p>

          <h3>Aplicativos</h3>
          <p>
            Além de nosso site, você também poderá baixar o nosso aplicativo para seu celular.
            Clique no botão correspondente a plataforma de seu smartphone:
          </p>

          <p>
            <img src="assets/img/mobile/stores/google-play-badge.png" width="20%" alt="Google Play Badge"/>
            <img src="assets/img/mobile/stores/app-store-badge.svg" width="16%" alt="App Store Badge"/>
          </p>
          
        </div>
      </div>
    </div>
  </section>
</div>
